.git
.gitignore
Dockerfile
.dockerignore

node_modules
vendor
public/build

storage/framework/*
storage/logs/*
bootstrap/cache/*

.env
.env.*
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

.DS_Store
Thumbs.db
.idea
.vscode
*.swp
*.swo
*.cache
